body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f8ff;
}
h2 {
  color: #3216b1;
  font-size: 50px;
}

input {
  padding-left: 10px;
  font-size: 16px;
  width: 120px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

label {
  font-weight: bold;
  margin-right: 5px;
}

button {
  height: 35px;
  background-color: #bbbeee;
  margin: 2px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #646cff;
}
table {
  width: 800px;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
th {
  background-color: #003366;
  color: white;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: #e6e6ff;
}
